h1.EK-latest-header {
  border-top: 1.5px solid #000;
  padding-top: 10px;
  color: #2B2B2B;
  font-size: 16px;
}

a.EK-latest-header {
  text-decoration: none !important;
  color: #2B2B2B !important;
}

a.EK-latest-header:hover {
  color: #41A62A !important;
}

div.EK-latest-title {
  text-align: left;
  font-size: 12px;
}

div.EK-latest-content {
  padding-bottom: 10px;
}

div.EK-detailed-contact {
  padding: 10pt;
  //position
  border-top: 1.5px solid #000;
  border-bottom: 1.5px solid #000;
}
